body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

input,
button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

input {
    width: calc(100% - 1rem);
    padding: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

h1,
p {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 1.25rem;
    color: #666;
}

ul {
    list-style: none;
}

#task-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    margin: 0px;
    padding: 0px;
    /* background-color: lightblue;
    border: 5px solid rgb(116, 163, 179); */
}


#task-list li {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    max-height: 200px;
    /* border: 5px solid lightgreen;
    background-color: rgb(37, 114, 37); */
    aspect-ratio: 3/2;
}


@media (max-width: 600px) {
    #task-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media screen and (max-width: 800px) {
    #task-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    #task-list {
        grid-template-columns: repeat(4, 1fr);
    }
}



.task-container {
    position: relative;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    padding: 20px;
    /* max-height: 120px; */
    min-height: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    justify-content: center;
    /* background-color: lightpink;
    border: 5px solid rgb(172, 103, 113); */
    aspect-ratio: 3/2;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    border: 0;
    background: none;
    font-size: 24px;
    cursor: pointer;
}

/* .pause-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    border: 0;
    background: none;
    font-size: 24px;
    cursor: pointer;
} */

.pause-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    /* // play state */
    border-style: solid;
    border-width: 37px 0 37px 60px;
}

.pause-button.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
}

.pause-button:hover {
    border-color: transparent transparent transparent #404040;
}

.task-name {
    font-size: 18px;
    margin: 0;
    text-align: center;
    color: #0070E0;
}

.timer-info {
    font-size: 14px;
    margin: 0;
    color: gray;
    text-align: center;
}

.timer-info span {
    color: #0070E0;
    font-weight: bold;
}

/* Define the animation */
@keyframes flash {
    50% {
        background-color: red;
        color: white;
    }
}

@keyframes flash2 {
    50% {
        color: white;
    }
}